@media (max-width: 992px) {
  .invisible-image {
    width: 200px;
  }
}

@media (max-width: 768px) {
  .invisible-image {
    display: none;
  }

  .btn-small {
    padding: .20rem .4rem;
    font-size: .875rem;
    line-height: 1.3;
    border-radius: 1.2rem;
  }
}

@media (max-width: 576px) {
  .invisible-image {
    display: none;
  }

  .invisible-text {
    display: none;
  }
}

.border-list {
  border: 1px solid white;
}

a:hover {
  color: #0ed0a1;
}

.list-group-item-action {
  color: #0ed0a1;
}

.size-icon {
  font-size: 2rem;
}

.image-blog {
  width: 100%;
}

.page-title {
  position: absolute;
  text-align: center;
  padding: 5px;
  background: rgba(0, 0, 0, 0.6);
  margin: auto;
  font-size: 1.5rem;
  transition: font-size .1s;
}

.page-title:hover {
  font-size: 1.7rem;
}

.map {
  width: 100%;
  height: 600px;
}
